
<style>
    .container {
        width: 600px;
    }

    button {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }


    body, html {
        height: 90vh;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREKBi3sXTR-Zb4a8uBpAiZwJVkHdFch6i-gw&usqp=CAU);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-black {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .bg-w {
        background-color: rgba(255, 255, 255, 0.1);
    }
</style>



@page "/"


<div class=" container mt-3 card shadow-lg col-8">
    <div class="col-xl text-center  ">
        <div class="card-header font-weight-bold">

            <h3 style="font-style:@headingFontStyle ">  Bienvenidos a mi juego</h3>
        </div>
    </div>


</div>


@code {
    private string headingFontStyle = "italic";

}